<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>part-1-vue</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container">
    <div id="app">

        <div class="tabs-nav">
            <button type="button"
                    v-for="tab in tabs"
                    v-bind:class="['tabs-btn', tab.id === currentTab ? 'active-btn' : '']"
                    v-on:click="currentTab = tab.id">{{ tab.nav }}</button>
        </div>

        <ul v-bind:class="['tabs-content', currentColor]"
            v-for="tab in tabs"
            v-bind:key="tab.id"
            v-show="tab.id === currentTab">
            <li v-for="item in tab.content">{{ item }}</li>
        </ul>

        <div class="tabs-style">
            <button type="button"
                    v-for="color in colors"
                    v-bind:class="['tabs-btn', color, color === currentColor ? 'active-btn' : '']"
                    v-on:click="currentColor = color">{{ color }}</button>
        </div>

    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>